body{
  display:flex;
  align-items: center;
  justify-content:space-around;
  height: 100%;
  width: 100%;
  background-color: rgb(49, 49, 49);
}
p{
  text-align: center;

  display: flex;
  color: white;
  transition: all 2s ease 0;
  transition-timing-function: linear;
  transition-duration: 2s;
}
/*h3:hover{
  align-items: center;
  display: flex;
  color: rgb(17, 15, 15);
}*/
button{
  border-radius: 100px;
  border:0px;
  ;
}
li {
  list-style-type:"  ";
  font-size: 15px;

}
.seko{
 background-color: rgb(230, 230, 230);
 max-width: 1000px;
 padding: 0px;
}
input{
  max-width: 1000px;
  transition: all 2s ease 0;
  transition-timing-function: linear;
  transition-duration: 2s;
}
input:hover{
  border-radius: 50px;
  background-color:transparent ;
  align-items: center;

}
.siv{
  border-radius:10px;
  background-color: rgb(0, 95, 16);
  max-width: 500px;
  transition: all 2s ease 0;
  transition-timing-function: linear;
  transition-duration: 2s;
}
.siv:hover{
  background-color: rgb(101, 202, 0);
  color:rgb(255, 245, 245);
}
h6{
  font-size: 10px;
  padding: 0px;
}
.soko{
 margin-left:100px ;
 align-items: center;
 justify-content: center;
 max-width: 500px;
}
.doc{
  border-radius:10px;
  background-color: rgb(40, 18, 90);
  max-width: 500px;
  transition: all 2s ease 0;
  transition-timing-function: linear;
  transition-duration: 2s;
  
}
.doc:hover{
  background-color: rgb(75, 28, 185);
  box-shadow: rgb(72, 2, 138) 10px;
  color:rgb(255, 245, 245);
}
.sec{
  border-radius:10px;
  background-color: rgb(61, 10, 1);
  max-width: 500px;
  transition: all 2s ease 0;
  transition-timing-function: linear;
  transition-duration: 2s;
  align-items: center;
}
.sec:hover{
 background-color: rgb(209, 31, 0);
 color:rgb(255, 245, 245);
}
ul:hover {
  max-height: 100px;
  background-color: black;
}